<!-- -->
<launch>
  <arg name="nodelet_manager_name" value="nodelet_manager" />
  <arg name="camera_name" value="mini_ueye" />

  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager" output="screen" />
  
  <node pkg="nodelet" type="nodelet" name="ueye_cam_nodelet" args="load ueye_cam/ueye_cam_nodelet $(arg nodelet_manager_name)">
    <param name="camera_intrinsics_file" type="string" value="$(find orb_slam_wrp)/resources/UI122xLE-C_conf.yaml" /> <!-- default: ~/.ros/camera_info/<camera_name>.yaml -->
    <param name="camera_parameters_file" type="string" value="$(find orb_slam_wrp)/resources/UI122xLE-C_conf.ini" /> <!-- default: ~/.ros/camera_conf/<camera_name>.ini -->

    <param name="camera_name" type="str" value="$(arg camera_name)" /> 
    <param name="camera_topic" type="str" value="image_raw" />
    <param name="camera_id" type="int" value="0" /> 

    <param name="ext_trigger_mode" type="bool" value="False" /> 

    <param name="color_mode" type="str" value="rgb8" /> 
    <param name="image_width" type="int" value="752" />
    <param name="image_height" type="int" value="480" />
    <param name="image_top" type="int" value="0" /> 
    <param name="image_left" type="int" value="0" /> 
 
    <param name="subsampling" type="int" value="1" /> 
    <param name="binning" type="int" value="1" /> 
    <param name="sensor_scaling" type="double" value="1.0" />

    <param name="auto_gain" type="bool" value="true" />
    <param name="master_gain" type="int" value="0" />
    <param name="red_gain" type="int" value="0" />
    <param name="green_gain" type="int" value="1" />
    <param name="blue_gain" type="int" value="16" />
    <param name="gain_boost" type="bool" value="False" />

    <param name="auto_exposure" type="bool" value="False" />
    <param name="exposure" type="int" value="50" /> 

    <param name="auto_white_balance" type="bool" value="true" />
    <param name="white_balance_red_offset" type="int" value="0" />
    <param name="white_balance_blue_offset" type="int" value="0" />
    
    <param name="flash_delay" type="int" value="0" /> 
    <param name="flash_duration" type="int" value="1000" />
    
    <param name="auto_frame_rate" type="bool" value="False" />
    <param name="frame_rate" type="double" value="30.0" />
    <param name="output_rate" type="double" value="0.0" />
    <param name="pixel_clock" type="int" value="25" />

    <param name="flip_upd" type="bool" value="False" />
    <param name="flip_lr"  type="bool" value="False" />
  </node>

  <node pkg="image_view" type="image_view" name="raw_image_view" output="screen">
    <param name="autosize"        value="true"/>
    <param name="filename_format" value="frame%04i.jpg"/>
    <param name="image_transport" value="raw"/>
    <param name="window_name"     value="ImageRaw"/>

    <remap from="image" to="/$(arg camera_name)/image_raw"/>
  </node>

  <node pkg="image_proc" type="image_proc" name="image_proc" ns="$(arg camera_name)" output="screen"/>

  <node pkg="image_view" type="image_view" name="rect_image_view" output="screen">
    <param name="autosize"        value="true"/>
    <param name="filename_format" value="frame%04i.jpg"/>
    <param name="image_transport" value="raw"/>
    <param name="window_name"     value="ImageRect"/>

    <remap from="image" to="/$(arg camera_name)/image_rect_color"/>
  </node>

  <node pkg="camera_calibration" type="cameracheck.py" name="calibration_check" args="--size 9x6 --square 0.04" output="screen">
    <remap from="monocular" to="/$(arg camera_name)"/>
    <remap from="image" to="image_rect"/>
  </node>   

</launch>
